.title {
    display: flex;
    justify-content: center;
}

.outerCont {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 120px;
}


.upperCont {
    display: flex;
    justify-content: space-evenly;
}

.valueCont {
    display:flex;
    justify-content: space-evenly;
}

.btnCont {
    display:flex;
    justify-content: center;
    flex-grow: 1;
}

.btn {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}