.title {
    display: flex;
    justify-content: center;
}

.wholeCont {
    display: flex;
    flex-direction: column;
}

.outerCont {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 160px;
    justify-content: space-evenly;
}

.upperCont {
    display: flex;
    justify-content: space-evenly;
}

.valueCont {
    display:flex;
    justify-content: space-evenly;
}

.btnCont {
    display:flex;
    justify-content: center;
    flex-grow: 1;
}

.btn {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

.lowerCont {
    display: flex;
    justify-content: space-evenly;
}

.upgradeCont{
    display: flex;
}

.upgradeValCont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.upgradeBtnCont {
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.exchangeCont {
    height: 80px;
}

.dataBtns {
    display: flex;
    justify-content: flex-end;
}

.upgradeUnitCont {
    display: flex;
    justify-content: center;
}

.name {
    margin: 10px;
    font-size: 120%;
}

.tag {
    margin: 10px;
}

.value {
    margin: 10px;
}